<h1>Log In.</h1>

<p style="color: red;">
    <%= flash[:message] if flash[:message] %>
</p>

<%= form_for(:user) do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %><br><br>

    <%= f.label :password %>
    <%= f.password_field :password %><br><br>

    <%= f.submit "Log In" %>
<% end %>

<h3>Don't have an account? Please <%= link_to "Sign up", signup_path %> here.</h3>