<h1>Write a Review for <%= @review.baby_food.flavor %>!</h1>

<%= form_for(@review) do |f| %>
    <div>
        <%= f.label :stars %>
        <%= f.number_field :stars, min:1, max:5 %><br><br>
    </div>

    <div>
        <%= f.label :title %>
        <%= f.text_field :title %><br><br>
    </div>

    <div>
        <%= f.label :content %>
        <%= f.text_area :content, rows: "4", cols:"50" %><br><br>
    </div>

    <%= f.hidden_field :baby_food_id %>

    <%= f.submit %>
<% end %>